@use 'wood-theme' as wood;

.gallery {
  display: block;
  @include wood.straight-grain-1-walnut-dark-bg(0deg);
  padding: 1em 5%;

  text-align: center;

  h1 {
    padding: 0.5em;
    margin: 1em 0;

    border-radius: 10px;

    color: wood.$walnut-dark0;
    @include wood.straight-grain-1-pine-dark-bg(0deg);
  }

  h2 {
    padding: 0.5em;
    margin: 1em 0;

    border-radius: 10px;

    color: wood.$pine-light0;
    @include wood.straight-grain-1-walnut-light-bg(0deg);
  }

  .pictureContainer {
    width: 100%;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
    justify-content: center;
  }
}