// VARIABLES

$basswood-light0: rgb(240, 216, 121);
$basswood-light1: rgb(213, 193, 116);
$basswood-light2: rgb(211, 190, 107);

$pine-light0: rgb(220, 196, 101);
$pine-light1: rgb(193, 173, 96);
$pine-light2: rgb(191, 170, 87);

$pine-dark0: rgb(180, 156, 61);
$pine-dark1: rgb(153, 133, 56);
$pine-dark2: rgb(151, 130, 47);

$walnut-light0: rgb(100, 80, 30);
$walnut-light1: rgb(90, 70, 20);
$walnut-light2: rgb(80, 60, 10);

$walnut-dark0: rgb(60, 40, 0);
$walnut-dark1: rgb(50, 30, 0);
$walnut-dark2: rgb(40, 20, 0);

$ebony-light0: rgb(40, 40, 40);
$ebony-light1: rgb(30, 30, 30);
$ebony-light2: rgb(20, 20, 20);

$ebony-dark0: rgb(20, 20, 20);
$ebony-dark1: rgb(10, 10, 10);
$ebony-dark2: rgb(0, 0, 0);

$default-background-size: 50px;

// FUNCTIONS

@function straight-grain-1($degree: 0deg, $color0, $color1, $color2, $size: $default-background-size) {
  $parameters: 
    $degree, 
    $color0 calc($size * 0), 
    $color0 calc($size * 0.2), 
    $color1 calc($size * 0.2), 
    $color1 calc($size * 0.3),
    $color0 calc($size * 0.3), 
    $color0 calc($size * 0.5), 
    $color2 calc($size * 0.5), 
    $color2 calc($size * 0.7), 
    $color0 calc($size * 0.7), 
    $color0 calc($size * 0.9), 
    $color1 calc($size * 0.9), 
    $color1 calc($size * 1);

  @return repeating-linear-gradient($parameters...);

}

@function straight-grain-1-basswood-light($degree: 0deg, $size: $default-background-size) {
  @return straight-grain-1($degree, $basswood-light0, $basswood-light1, $basswood-light2, $size);
}

@function straight-grain-1-pine-light($degree: 0deg, $size: $default-background-size) {
  @return straight-grain-1($degree, $pine-light0, $pine-light1, $pine-light2, $size);
}

@function straight-grain-1-pine-dark($degree: 0deg, $size: $default-background-size) {
  @return straight-grain-1($degree, $pine-dark0, $pine-dark1, $pine-dark2, $size);
}

@function straight-grain-1-walnut-light($degree: 0deg, $size: $default-background-size) {
  @return straight-grain-1($degree, $walnut-light0, $walnut-light1, $walnut-light2, $size);
}

@function straight-grain-1-walnut-dark($degree: 0deg, $size: $default-background-size) {
  @return straight-grain-1($degree, $walnut-dark0, $walnut-dark1, $walnut-dark2, $size);
}

@function straight-grain-1-ebony-light($degree: 0deg, $size: $default-background-size) {
  @return straight-grain-1($degree, $ebony-light0, $ebony-light1, $ebony-light2, $size);
}

@function straight-grain-1-ebony-dark($degree: 0deg, $size: $default-background-size) {
  @return straight-grain-1($degree, $ebony-dark0, $ebony-dark1, $ebony-dark2, $size);
}


// MIX-INS

/* START OF BACKGROUNDS */

@mixin straight-grain-1-bg($degree: 0deg, $color0, $color1, $color2, $background-size: $default-background-size) {
  background: straight-grain-1($degree, $color0, $color1, $color2, $background-size);
}

@mixin straight-grain-1-basswood-light-bg($degree: 0deg, $background-size: $default-background-size) {
  @include straight-grain-1-bg(
    $degree, 
    $basswood-light0, 
    $basswood-light1, 
    $basswood-light2,
    $background-size
  );
}

@mixin straight-grain-1-pine-light-bg($degree: 0deg, $background-size: $default-background-size) {
  @include straight-grain-1-bg(
    $degree, 
    $pine-light0, 
    $pine-light1, 
    $pine-light2,
    $background-size
  );
}

@mixin straight-grain-1-pine-dark-bg($degree: 0deg, $background-size: $default-background-size) {
  @include straight-grain-1-bg(
    $degree, 
    $pine-dark0, 
    $pine-dark1, 
    $pine-dark2,
    $background-size
  );
}

@mixin straight-grain-1-walnut-light-bg($degree: 0deg, $background-size: $default-background-size) {
  @include straight-grain-1-bg(
    $degree, 
    $walnut-light0, 
    $walnut-light1, 
    $walnut-light2,
    $background-size
  );
}

@mixin straight-grain-1-walnut-dark-bg($degree: 0deg, $background-size: $default-background-size) {
  @include straight-grain-1-bg(
    $degree, 
    $walnut-dark0, 
    $walnut-dark1, 
    $walnut-dark2,
    $background-size
  );
}

@mixin straight-grain-1-ebony-light-bg($degree: 0deg, $background-size: $default-background-size) {
  @include straight-grain-1-bg(
    $degree, 
    $ebony-light0, 
    $ebony-light1, 
    $ebony-light2,
    $background-size
  );
}

@mixin straight-grain-1-ebony-dark-bg($degree: 0deg, $background-size: $default-background-size) {
  @include straight-grain-1-bg(
    $degree, 
    $ebony-dark0, 
    $ebony-dark1, 
    $ebony-dark2,
    $background-size
  );
}

/* START OF BORDER BACKGROUNDS */

//Creates a background with a "border" with a width specified by
//padding. The user can also specify which borders they want visible
//( any combination of (top, left, bottom, right)
/*
  WARNING: This does not work correctly when the padding
  value is using a non-pixel unit.
*/
@mixin straight-grain-1-border-bg(
  $padding, 
  $color0, 
  $color1, 
  $color2, 
  $top: true,
  $bottom: true, 
  $left: true, 
  $right: true
) {
  
  $background-parameters: unquote('');
  $background-positions: unquote('');
  $background-sizes: unquote('');

  $padding-top: 0;
  $padding-bottom: 0;
  $padding-left: 0;
  $padding-right: 0;

  $addComma: false;

  @if $top {
    $comma: '';
    @if $addComma {
      $comma: ', ';
    }

    $comma: unquote($comma);

    $addComma: true;

    $background-parameters: $background-parameters + $comma + straight-grain-1(
      0deg, 
      $color0, 
      $color1, 
      $color2,
      $padding
    );
    $background-positions: $background-positions + $comma + top;
    $background-sizes: $background-sizes + $comma + 100% $padding;
    $padding-top: $padding;
  }

  @if $bottom {
    $comma: '';
    @if $addComma {
      $comma: ', ';
    }

    $comma: unquote($comma);

    $addComma: true;

    $background-parameters: $background-parameters + $comma + straight-grain-1(
      0deg, 
      $color0, 
      $color1, 
      $color2,
      $padding
    );
    $background-positions: $background-positions + $comma + bottom;
    $background-sizes: $background-sizes + $comma + 100% $padding;
    $padding-bottom: $padding;
  }

  @if $left {
    $comma: '';
    @if $addComma {
      $comma: ', ';
    }

    $comma: unquote($comma);

    $addComma: true;

    $background-parameters: $background-parameters + $comma + straight-grain-1(
      90deg, 
      $color0, 
      $color1, 
      $color2,
      $padding
    );
    $background-positions: $background-positions + $comma + left;
    $background-sizes: $background-sizes + $comma + $padding 100%;
    $padding-left: $padding;
  }

  @if $right {
    $comma: '';
    @if $addComma {
      $comma: ', ';
    }

    $comma: unquote($comma);

    $addComma: true;

    $background-parameters: $background-parameters + $comma + straight-grain-1(
      90deg, 
      $color0, 
      $color1, 
      $color2,
      $padding
    );
    $background-positions: $background-positions + $comma + right;
    $background-sizes: $background-sizes + $comma + $padding 100%;
    $padding-right: $padding;
  }

  background: $background-parameters;

  background-size: $background-sizes;
  background-position: $background-positions;
  background-repeat: no-repeat;

  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
  padding-left: $padding-left;
  padding-right: $padding-right;

  
}

@mixin straight-grain-1-basswood-light-border-bg($padding, $top: true, $bottom: true, $left: true, $right: true) {
  @include straight-grain-1-border-bg($padding, $basswood-light0, $basswood-light1, $basswood-light2, $top, $bottom, $left, $right);
}

@mixin straight-grain-1-pine-light-border-bg($padding, $top: true, $bottom: true, $left: true, $right: true) {
  @include straight-grain-1-border-bg($padding, $pine-light0, $pine-light1, $pine-light2, $top, $bottom, $left, $right);
}

@mixin straight-grain-1-pine-dark-border-bg($padding, $top: true, $bottom: true, $left: true, $right: true) {
  @include straight-grain-1-border-bg($padding, $pine-dark0, $pine-dark1, $pine-dark2, $top, $bottom, $left, $right);
}

@mixin straight-grain-1-walnut-light-border-bg($padding, $top: true, $bottom: true, $left: true, $right: true) {
  @include straight-grain-1-border-bg($padding, $walnut-light0, $walnut-light1, $walnut-light2, $top, $bottom, $left, $right);
}

@mixin straight-grain-1-walnut-dark-border-bg($padding, $top: true, $bottom: true, $left: true, $right: true) {
  @include straight-grain-1-border-bg($padding, $walnut-dark0, $walnut-dark1, $walnut-dark2, $top, $bottom, $left, $right);
}

@mixin straight-grain-1-ebony-light-border-bg($padding, $top: true, $bottom: true, $left: true, $right: true) {
  @include straight-grain-1-border-bg($padding, $ebony-light0, $ebony-light1, $ebony-light2, $top, $bottom, $left, $right);
}

@mixin straight-grain-1-ebony-dark-border-bg($padding, $top: true, $bottom: true, $left: true, $right: true) {
  @include straight-grain-1-border-bg($padding, $ebony-dark0, $ebony-dark1, $ebony-dark2, $top, $bottom, $left, $right);
}
