//variables 

$bassword-light0: rgb(240, 216, 121);
$bassword-light1: rgb(213, 193, 116);
$bassword-light2: rgb(211, 190, 107);

$pine-light0: rgb(220, 196, 101);
$pine-light1: rgb(193, 173, 96);
$pine-light2: rgb(191, 170, 87);

$pine-dark0: rgb(180, 156, 61);
$pine-dark1: rgb(153, 133, 56);
$pine-dark2: rgb(151, 130, 47);

$walnut-light0: rgb(100, 80, 30);
$walnut-light1: rgb(90, 70, 20);
$walnut-light2: rgb(80, 60, 10);

$walnut-dark0: rgb(60, 40, 0);
$walnut-dark1: rgb(50, 30, 0);
$walnut-dark2: rgb(40, 20, 0);

@function straight-grain-1($degree: 0deg, $color0, $color1, $color2) {
  @return repeating-linear-gradient(
    $degree, 
    $color0 0px, 
    $color0 10px, 
    $color1 10px, 
    $color1 15px,
    $color0 15px, 
    $color0 25px, 
    $color2 25px, 
    $color2 35px, 
    $color0 35px, 
    $color0 45px, 
    $color1 45px, 
    $color1 50px
  );
}

@mixin straight-grain-1-bg($degree: 0deg, $color0, $color1, $color2) {
  background: straight-grain-1($degree, $color0, $color1, $color2);
}

@mixin straight-grain-1-basswood-light-bg($degree: 0deg) {
  @include straight-grain-1-bg(
    $degree, 
    $bassword-light0, 
    $bassword-light1, 
    $bassword-light2
  );
}

@mixin straight-grain-1-pine-light-bg($degree: 0deg) {
  @include straight-grain-1-bg(
    $degree, 
    $pine-light0, 
    $pine-light1, 
    $pine-light2
  );
}

@mixin straight-grain-1-pine-dark-bg($degree: 0deg) {
  @include straight-grain-1-bg(
    $degree, 
    $pine-dark0, 
    $pine-dark1, 
    $pine-dark2
  );
}

@mixin straight-grain-1-walnut-light-bg($degree: 0deg) {
  @include straight-grain-1-bg(
    $degree, 
    $walnut-light0, 
    $walnut-light1, 
    $walnut-light2
  );
}

@mixin straight-grain-1-walnut-dark-bg($degree: 0deg) {
  @include straight-grain-1-bg(
    $degree, 
    $walnut-dark0, 
    $walnut-dark1, 
    $walnut-dark2
  );
}

@mixin straight-grain-1-border($degree: 0deg, $slice, $color0, $color1, $color2) {
  border-image: straight-grain-1($degree, $color0, $color1, $color2);
  border-image-slice: $slice;
}

@mixin straight-grain-1-basswood-light-border($degree: 0deg, $slice) {
  @include straight-grain-1-border(
    $degree, 
    $slice,
    $bassword-light0, 
    $bassword-light1, 
    $bassword-light2
  );
}

@mixin straight-grain-1-pine-light-border($degree: 0deg, $slice) {
  @include straight-grain-1-border(
    $degree, 
    $slice,
    $pine-light0, 
    $pine-light1, 
    $pine-light2
  );
}

@mixin straight-grain-1-pine-dark-border($degree: 0deg, $slice) {
  @include straight-grain-1-border(
    $degree, 
    $slice,
    $pine-dark0, 
    $pine-dark1, 
    $pine-dark2
  );
}

@mixin straight-grain-1-walnut-light-border($degree: 0deg, $slice) {
  @include straight-grain-1-border(
    $degree, 
    $slice,
    $walnut-light0, 
    $walnut-light1, 
    $walnut-light2
  );
}

@mixin straight-grain-1-walnut-dark-border($degree: 0deg, $slice) {
  @include straight-grain-1-border(
    $degree, 
    $slice,
    $walnut-dark0, 
    $walnut-dark1, 
    $walnut-dark2
  );
}