@use 'wood-theme' as wood;
@use 'global-variables' as globals;

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  //overscroll-behavior: none;

  //does not work on firefox and safari iOS.
  //does work on safari desktop
 // @include wood.straight-grain-1-walnut-dark(90deg);

  //works on all browsers
  background-color: wood.$walnut-dark0;
}



#main-page-wrapper {
  //must be 1 because this element must always remain under its
  //sibling element: TopNavbar, which have a z-index of 2.
  z-index: 1;

  //add padding on top that is the same height as the navbar
  //because the navbar has a position of fixed.
  //Thus, the page will not change on its own to move content
  //out from under the navbar
  padding-top: globals.$navbar-height;

  @include wood.straight-grain-1-walnut-dark-bg(0deg);

  //make sure minimum height of the wrapper is the height of the viewport minus the heights of the navbar and footer.
  //that way, if there is not enough content to fill the page, the footer will still be fully visible
  //while staying at the bottom of the viewport
  min-height: globals.$main-page-wrapper-min-height; 


  h1 {
    padding: 0.5em;
    margin: 1em 0;

    text-align: center;

    border-radius: 10px;

    color: wood.$walnut-dark0;
    @include wood.straight-grain-1-pine-dark-bg(0deg);
  }

  h2 {
    padding: 0.5em;
    margin: 1em 0;

    text-align: center;

    border-radius: 10px;

    color: wood.$pine-light0;
    @include wood.straight-grain-1-walnut-light-bg(0deg);

    a {
      color: wood.$pine-light0;
    }
  }
}

