@use 'wood-theme' as wood;
:root {
  //dimensions
  --navbar-height: 90px;
  --navbar-padding-except-bottom: 20px;
  --footer-height: 90px;

  //colors
  --gold-1: rgb(228, 232, 0);
  --gold-2: rgb(255, 238, 1);

}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  //overscroll-behavior: none;

  //does not work on firefox and safari iOS.
  //does work on safari desktop
 // @include wood.straight-grain-1-walnut-dark(90deg);

  //works on all browsers
  background-color: rgb(60, 40, 0);
}



#main-page-wrapper {
  //must be zero because this element must always remain under its
  //sibling elements: TopNavbar and Footer.
  z-index: 0;

  //add padding on top that is the same height as the navbar
  //because the navbar has a position of fixed.
  //Thus, the page will not change on its own to move content
  //out from under the navbar
  padding-top: calc(var(--navbar-height) - var(--navbar-padding-except-bottom));

  //make sure minimum height of the wrapper is the height of the viewport minus the heights of the navbar and footer.
  //that way, if there is not enough content to fill the page, the footer will still be fully visible
  //while staying at the bottom of the viewport
  min-height: calc(100vh - var(--navbar-height) - var(--footer-height)); 
}

