.main {
    background: var(--walnut-grain-vertical);
    h1 {
        color: yellow;
    }

    .toolbox {
        width: 80%;
        height: auto;
        margin-left: 10%;
        margin-right: 10%; 
    }

    .resume-pdf-wrapper {
        padding: 5%;
    }
}
