@use "wood-theme" as wood;

.main {

  .hook {
    display: flex;
    flex-direction: row;
    align-items: center;


    .profilePicBackground { 
      flex: 30%;

      margin: 0 2%; //keep small amount of space between siblings in same row


      //maintain aspect ratio
      aspect-ratio: 1/1;

      //used to allow absolute positioning for child image
      position: relative;

      @include wood.straight-grain-1-walnut-light-bg(45deg);
      border-radius: 50%;

      
      .profilePic {
        //this portion centers the image horizontally and vertically to the parent element
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        border-radius: 50%; //makes the div into a circle (if the element has the same width and height)
        width: 90%;
        height: auto; //maintain same aspect ratio
      }
    }
    
    .pitch {
      flex: 70%;
      padding: 2em;
      border-radius: 10px;


      @include wood.straight-grain-1-walnut-light-bg(0deg);
      color: wood.$basswood-light0;

      text-align: center;
      font-weight: bold;
      font-size: 1.3em;
      line-height: 2em; //space between line of text

    }
  }

  .cardContainer {
    width: 100%;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(250px, 500px));
    gap: 1em;
    justify-content: center;
  }

  .cardContainer.projects {
    grid-template-columns: repeat(auto-fit, minmax(320px, 500px));
  }

  .skillWrapper {
    h1 {
      margin: 1em 0;
    }
  }

  //used in order to reduce the size of the Frame component inside
  //this element
  .resumeWrapper {
    min-width: 300px;    
    width: 60%;
    max-width: 800px;
    margin: auto;
  }
}

@media screen and (max-width: 900px) {
  .main {
    .hook {
      display: block; //stack children top to bottom instead of using flex container

      .profilePicBackground { 
        margin: 10px auto; //center element horizontally and add 10px top and bottom margin
        width: 50%;
      }
      
      .pitch {
        margin: auto; //center element horizontally
        width: 90%; //expand to 90% of parent
      }
    }

  }
}