@use "wood-theme" as wood;

.frame {
  .pictureContainer {
    
    @include wood.straight-grain-1-pine-dark-border-bg(30px);
    border-radius: 10px;

    width: 100%;
    height: auto;
    
    overflow: hidden;
    
    //properties used for when picture container is an <a> tag
    text-decoration: none;
    display: block;

   
  
    .picture {
      display: block; //MUST USE THIS to remove small gap on bottom of image caused by images being inline by default
      width: 100%;
      height: 100%;
    }
  }

  .caption {
    margin: 1em;
    padding: 0.5em;

    color: wood.$ebony-light0;
    font-weight: bold;
    text-align: center;

    @include wood.straight-grain-1-pine-dark-bg(0deg);
    border-radius: 10px;
  }
}

@media screen and (max-width: 768px) {

  .frame {
    .pictureContainer {
      @include wood.straight-grain-1-pine-dark-border-bg(20px);
    }
  }
  
}