.tagList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
  grid-auto-columns: 1fr; //make all elements the same width
  grid-auto-rows: 1fr; 
  justify-content: center;
  gap: 1em;

}