@use "wood-theme" as wood;

$toolboxAnimationDuration: 1s;
$max-width: 500px;
$childWidth: 70%;


.toolboxContainer {
  display: block;
  width: 100%;

  margin: 0 auto;


  overflow: hidden;

  //this centers the IMG (.toobox) horizontally.
  //the margin: auto; trick does not work on images, it seems
  text-align: center; 


  .toolbox {
    width: $childWidth;
    height: auto;

    max-width: $max-width;


    transform: rotate(0deg);
    transition: transform $toolboxAnimationDuration;
    transition-delay: $toolboxAnimationDuration; //the delay is for when the toolbox flips upward.

    position: relative; //required to allow z-index to work
    z-index: 1; //keep image above the skillContainer
  }

  .skillContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    list-style: none; //remove dots from list

    //position must be relative so that the space for the
    //skill container to sit in when the toolbox flips over
    //is available.
    position: relative; //required to allow z-index to work

    z-index: 0; //keep skills under the toolbox image

    margin: 0 auto;
    width: $childWidth; 
    max-width: $max-width;



    //keep container hidden behind toolbox by translating
    //up 2 times the height of this container to give the 
    //illusion of the container falling out of the toolbox.

    //Note that current percentage may not work as well when the container is 
    //very short relative to the toolbox
    transform: translateY(-100%); 

    transition: transform $toolboxAnimationDuration, opacity $toolboxAnimationDuration;
    //the delay is for when the toolbox flips upward, allowing 
    //this to retract into the image before the toolbox rotates
    transition-delay: 0s;  

    //set to 0 since toolbox has a transparent background that
    //would reveal the skill container if opacity was not 0
    opacity: 0; 


    li {
      margin: 0.5em;
      padding: 1em;
      text-align: center;
      border-radius: 10px;
    
      @include wood.straight-grain-1-walnut-light-bg(0deg);

      color: wood.$basswood-light0;
      font-weight: bold;
    }
  }
}

/* 
  NOTE: To use external class names outside of CSS/SCSS module:
  Wrap external class name with :global.
  Example: If the <body> has a 'no-js' class, use:
    :global(.no-js)

*/

//added no-js class so that toolbox is upside down
//and skills are visible when there is no Javascript
.toolboxContainer.upsideDown, :global(.no-js) .toolboxContainer {
  .toolbox {
    transform: rotate(180deg);
    transition-delay: 0s; //this delay is for when the toolbox flips upside down. It must flip before the skill container moves

  }

  .skillContainer {
    transform: translateY(0);
    transition-delay: $toolboxAnimationDuration; //this delay is for when the toolbox flips upside down.
    opacity: 1;
  }
}