.header {
  display: flex;
  flex-direction: row;
  align-items: normal; //center flex items vertically
  justify-content: space-between; //first and last elements go to leftmost and rightmost sides respectively
  height: var(--navbar-height);
  transition: height 0.5s;
  position: sticky;
  padding: var(--navbar-padding-except-bottom);
  padding-bottom: 0px;
  background: var(--navbar-background);
  overflow: hidden; //prevents user from interacting with elements outside of the borders of this element

  .logo-container {
    text-decoration: none;
    height: 100%;


    .name {
      display: block;
      color: black;
      text-align: center;
      font-size: 1.7em;
    }
  }

  .hamburger {
    position: relative; //required before using children with position: absolute
    display: none;
    width: 40px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;

    //these are the 3 bars in the hamburger menu
    * {
      position: absolute;
      background-color: black;
      border-radius: 2px;
      width: 100%;
      height: 4px;
      transition: all 0.5s;
    }

    :nth-child(1) {
      top: 0px;
    }

    :nth-child(2) {
      top: 13px; //placed so bar is directly in middle of 15px height (bar covered 13px-17px)
    }

    :nth-child(3) {
      top: 26px; //because height=4px, the bottom of the bar will reach the bottom of the hamburger border 
    }
  }

  //class .x indicates that the hamburger menu should form an x
  .hamburger.x {
    :nth-child(1) {
      rotate: 45deg;
      top: 15px; //put at center of hamburger wrapper
    }
    :nth-child(2) {
      width: 0; //shrink second bar down to 0
    }
    :nth-child(3) {
      rotate: -45deg;
      top: 15px; //put at center of hamburger wrapper
    }
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;

    .link {
      text-decoration: none;
      color: black;
      padding: 0.5em 1em 0.5em 1em;
    }

    .social-container {
      display: flex;
      padding: 0;
  
      a {
        display: inline-block; //required so that it expands to fit imgs
        padding: 5px;
      }
  
      img {
        width: 32px;
        height: 32px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    .hamburger {
      display: block; //make the hamburger display visible.
    }

    //adjust the navbar as it would appear when the dropdown class is in the header.
    //because overflow: hidden in the header, the navbar cannot be seen or interacted with until
    //the user selects the hamburger menu
    .nav {
      display: block;
      position: absolute;
      //make sure navbar stays under the bottom border of the header when not in dropdown mode.
      //this is hidden due to the overflow: hidden attribute in the header.
      top: calc(var(--navbar-height) + var(--navbar-padding-except-bottom));
      left: 0;
      width: 100%;
      overflow: hidden;

      .link {
        display: block; //make elements of navbar display up to down instead of left to right
        padding: 1em;
      }

      .social-container {
        background-color: transparent;
      }

      //add a partially transparent black background so that each odd child element appears
      //to have a slightly darker background compared to the navbar background color.
      //NOTE. USE > to only select the children of .social-container and not its grandchildren.
      > :nth-child(odd) {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }

  //when the dropdown class is added to header, move the header to the bottom of the viewport
  .header.dropdown {
    height: 100vh;
  }
}
